html, body, #content {
    height: 100%;
    margin: 0;
}

#content {
    align-items: center;
    display: grid;
    grid-template-columns: 30% 1fr 1fr;
    grid-template-rows: 35% 1fr 1fr;
    grid-template-areas: 
            "upper vis vis"
            "lower vis vis"
            "lower vis vis";
    text-align: center;
}

.description {
    align-self: normal;
    display: flex;
    flex-direction: column;
    grid-area: lower;
    padding: 5px;
    text-align: left;
}
.description p {
    text-indent: 2em;
}

.title {
    font-size: xx-large;
    margin: 15px;
    user-select: none;
}

.upperContent {
    grid-area: upper;
}
