html, body, #content {
    height: 100%;
    margin: 0;
}

#content {
    align-items: center;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    grid-template-columns: 25% 50% 25%;
    text-align: center;
}

#dependencyVisualizer {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    grid-column: 2;
    grid-row: 2;
    height: 100%
}

#getGitRepo {
    grid-column: 2;
    grid-row: 1;
}